<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health_app">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- gps 위치 권한 허용 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="이두박근 2.0"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Health_App">
        <activity
            android:name=".Top13"
            android:exported="false" />
        <activity
            android:name=".Top12"
            android:exported="false" />
        <activity
            android:name=".Top11"
            android:exported="false" />
        <activity
            android:name=".Top10"
            android:exported="false" />
        <activity
            android:name=".Top9"
            android:exported="false" />
        <activity
            android:name=".Top8"
            android:exported="false" />
        <activity
            android:name=".Top7"
            android:exported="false" />
        <activity
            android:name=".Aerobic6"
            android:exported="false" />
        <activity
            android:name=".Aerobic5"
            android:exported="false" />
        <activity
            android:name=".Aerobic4"
            android:exported="false" />
        <activity
            android:name=".Aerobic3"
            android:exported="false" />
        <activity
            android:name=".Aerobic2"
            android:exported="false" />
        <activity
            android:name=".Aerobic1"
            android:exported="false" />
        <activity
            android:name=".Aerobic0"
            android:exported="false" />
        <activity
            android:name=".Bottom6"
            android:exported="false" />
        <activity
            android:name=".Bottom5"
            android:exported="false" />
        <activity
            android:name=".Bottom4"
            android:exported="false" />
        <activity
            android:name=".Bottom3"
            android:exported="false" />
        <activity
            android:name=".Bottom2"
            android:exported="false" />
        <activity
            android:name=".Bottom1"
            android:exported="false" />
        <activity
            android:name=".Bottom0"
            android:exported="false" />
        <activity
            android:name=".Top6"
            android:exported="false" />
        <activity
            android:name=".Top5"
            android:exported="false" />
        <activity
            android:name=".Top4"
            android:exported="false" />
        <activity
            android:name=".Top3"
            android:exported="false" />
        <activity
            android:name=".Top2"
            android:exported="false" />
        <activity
            android:name=".Top1"
            android:exported="false" />
        <activity
            android:name=".Top0"
            android:exported="true" />
        <activity
            android:name=".AerobicList"
            android:exported="false" />
        <activity
            android:name=".TopList"
            android:exported="true" />
        <activity
            android:name=".BottomList"
            android:exported="true" />
        <activity
            android:name=".Diary"
            android:exported="true" />
        <activity
            android:name=".Timer"
            android:exported="false" />
        <activity
            android:name=".MypageActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".IntroActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PedometerActivity"
            android:exported="true" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao2159a419042df74cc4dfa243b7caa53b" />
            </intent-filter>
        </activity>

    </application>

</manifest>